<aside data-qcm-results-target="timerDiv" class="bg-gray-500 flex justify-center items-center w-full fixed top-[10vh]">
    <p class="p-1 text-base"><i class="fas fa-clock"></i></p>
    <p class="p-1"><span data-qcm-results-target="min" ></span> min</p>
    <p class="p-1"><span data-qcm-results-target="sec"></span> sec</p>
</aside>
