<% content_for :meta_title, "Arbitre d'escrime - Accueil" %>
<% content_for :meta_description, "Bienvenue sur le site d'entraînement au QCM d'arbitrage à l'escrime" %>
<div class="home-container" role="main">
  <div class="home-text">
    <div class="home-text-welcome">
      <p>
      L'objectif de ce site est de vous permettre de vous entraîner au qcm d'arbitrage,
      première étape pour entrer en formation d'arbitre départemental ou régional.<br>
      Nous vous conseillons vivement de lire au préalable les différents documents disponibles
      dans la rubrique <%= link_to "Ressources", ressources_path %>.<br>
      Vous avez la possibilité soit de sélectionner un type de questions, soit de passer un
      qcm complet chronométré (20 min pour le départemental, 30 minutes pour le régional).<br>
      <span>Bon entraînement !</span>
      </p>
      <div class="home-text-btns">
        <button class="btn-blue select-questions"> Sélectionner des questions</button>
        <button class="btn-blue complete-qcm"> QCM complet chronométré</button>
      </div>
    </div>
    <!-- au clic sur selectionner des questions -->
    <div class="filters-questions hide-element">
      <h2>Choix du type de questions</h2>


    </div>
    <!-- au clic sur qcm complet -->
    <div class="filters-questions-qcm hide-element">
      <h2>Choix du type de QCM</h2>


    </div>
  </div>
</div>

