<% content_for :meta_title, "Arbitre d'escrime - Ressources" %>
<% content_for :meta_description, "Tous les documents nécessaires pour réviser la règlementation sur l'escrime" %>
<section class="w-11/12 md:w-8/12 mx-auto my-10 text-darkblue">
  <div class="flex flex-col w-full items-start">
      <h2 class="font-bold text-xl">Documentation à consulter</h2>
      <h3 class="my-8 font-semibold text-lg">International</h3>
      <p class="text-lg">Les règlements internationaux sont consultables sur le
        <%= link_to "site de la FIE", "https://fie.org/fie/documents/rules", target: :blank, class: "italic hover:font-semibold" %>.
        Nous vous conseillons d'y consulter les éléments suivants : le Règlement technique, l'Article t170 (tableau des fautes et sanctions),
        les Règles d'organisation et le Règlement du matériel.
      </p>
      <h3 class="my-8 font-semibold text-lg">National</h3>
        <ul class="fa-ul text-lg">
          <li><span class="fa-li"><i class="fas fa-check"></i></span><%= link_to "Règlements sportifs (saison 2023/2024)", "https://www.ffescrime.fr/je-suis-en-club/competiteurs/reglements/", target: :blank, class: "hover:font-semibold"%></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><%= link_to "Règlements d'arbitrage (saison 2023/2024)", "https://www.ffescrime.fr/je-suis-en-club/arbitres/reglements-arbitrage/", target: :blank, class: "hover:font-semibold"%></li>
        </ul>
      <h3 class="my-8 font-semibold text-lg">IDF</h3>
      <ul class="fa-ul text-lg">
        <li><span class="fa-li"><i class="fas fa-check"></i></span><%= link_to "Devenir arbitre d'escrime", "https://escrime-iledefrance.fr/pratiquer-et-sengager/devenir-arbitre-escrime", target: :blank, class: "hover:font-semibold"%></li>
      </ul>
  </div>
</section>
