<% content_for :meta_title, "Arbitre d'escrime - Ressources" %>
<% content_for :meta_description, "Tous les documents nécessaires pour réviser la règlementation sur l'escrime" %>

<div class="ressources-container" role="main">
  <div class="ressources-text">
      <h2>Documentation à consulter</h2>
      <h3>International</h3>
      <p>Les règlements internationaux sont consultables sur le site de la FIE (lien
        <a href="https://fie.org/fie/documents/rules" target="_blank" class="special-link">ici</a>).
        Nous vous conseillons d'y consulter les éléments suivants :
      </p>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span>Règlement technique</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>Article t170, tableau des fautes et sanctions</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>Règles d'organisation</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>Règlement du matériel</li>
        </ul>
      <h3>National</h3>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.ffescrime.fr/je-suis-en-club/competiteurs/reglements/" target="_blank">Règlements sportifs (saison 2023/2024)</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.ffescrime.fr/je-suis-en-club/arbitres/reglements-arbitrage/" target="_blank">Règlements d'arbitrage (saison 2023/2024)</a></li>
        </ul>
      <h3>IDF</h3>
      <ul class="fa-ul">
        <li class="ressources-last-li"><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://escrime-iledefrance.fr/pratiquer-et-sengager/devenir-arbitre-escrime" target="_blank">Devenir arbitre d'escrime</a></li>
      </ul>
  </div>
</div>
